* {
  padding: 1px;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}
body {
  background-color: white;
  margin: 0;
  min-height: 100vh;
}

.main-nav {
  background-color: black;
  font-size: 1.6rem;
  margin-bottom: 15px;
  height: 70px;
  list-style: none;
}
.main-nav li {
  display: block;
  float: left;
  margin-left: 20px;
}

a {
  color: azure;
  text-decoration: none;
}
.source-link {
  color: green;
}

.main-nav li a:hover {
  color: grey;
}

.main-title {
  text-align: center;
}
.image1 {
  width: 800px;
  height: 500px;
  margin-bottom: 50px;
}

.orig-img-1,
.orig-img-2,
.orig-img-3 {
  color: green;
}

.image2 {
  width: 500px;
  height: 375px;
}

.image6 {
  width: 175px;
  height: 43px;
}

.image-logo {
  width: 80px;
  height: 80px;
}

.image-gif {
  width: 800px;
  height: 500px;
}
.prototype-image-web {
  width: 800px;
  height: 500px;
}

.prototype-image-mobile {
  width: 365px;
  height: 802px;
}

footer {
  text-align: center;
  margin-top: 100px;
}
.prototype_text {
  text-align: center;
}

.image_text {
  text-align: center;
  margin-bottom: 5px;
}

.image_section {
  text-align: center;
  margin-bottom: 75px;
}

.gif-section {
  text-align: center;
  margin-bottom: 5px;
}

.gif-text {
  min-width: 50em;
  max-width: 15em;
  margin-left: 240px;
}
